[user]
	name = Anton S
	email = residentsummer@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	pager = less -FRX
	autocrlf = input
[color]
	ui = true
[push]
	default = current
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	cm = commit -m
	st = status --short --branch
	co = checkout
	cb = checkout -b
	br = branch
	brs = branch -v
	ri = rebase -i --autosquash
	ai = add -i
	lg = log --graph --oneline --decorate
	ml = merge --no-ff --log --no-commit
	mlc = merge --no-ff --log
	cp = cherry-pick
	cpm = cherry-pick -m1
	r  = reset
	rh = reset --hard
	rhh = reset --hard HEAD
	pu = push -u
	rems = remote -v
	unstage = reset --
	staged = diff --cached
	dw = diff -w -b --ignore-space-at-eol --ignore-blank-lines
