[CONFIG]

# C0111 no docstring
# C0330 wrong hanging indentation
# C0411 xxx import before yyy
# R0903 too few public methods
# R0914 too many local variables
# E0401 unable to import
disable=C0111,R0903,R0914,C0330,E0401,C0411

# List of builtins function names that should not be used, separated by a comma
bad-functions=input

# Maximum number of characters on a single line.
max-line-length=100

# List of optional constructs for which whitespace checking is disabled
no-space-check=trailing-comma

# List of note tags to take in consideration, separated by a comma.
notes=FIXME,XXX,TODO,NOTE

